{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Food Habit Charts</h1>
    <p class="lead">あなたの体重推移と食事のバランスです。</p>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
  <a href="{% url 'list' %}">投稿一覧へ</a>
  <div class="alert alert-warning" role="alert">
    {% if user.get_username == post_detail.author %}
    <p>投稿者：{{ post_detail.author }}</p>
    <p>投稿日：{{ post_detail.date }}</p>
    <p><font color="red">食習慣へのアドバイス：{{ advice_msg }}</font></p>
<!--    <p><img src="/static/images/graph_{{ svg }}" width="500" height="500" content_type='image/svg+xml'></p>-->
    <p align="center"><img src="/static/images/graph_{{ post_detail.pk }}.svg" width="1000" height="800"></p>
    <button type="btn" class="btn btn-primary" tabindex="-1" role="badge" disabled>いいね:{{post_detail.good}}</button>
    <button type="btn" class="btn btn-success" tabindex="-1" role="badge" disabled>既読:{{post_detail.read}}人</button>
    <a href="{% url 'delete' post_detail.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a>
    {% else %}
    <p>投稿者：{{ post_detail.author }}</p>
    <p>投稿日：{{ post_detail.date }}</p>
    <p><font color="red">食習慣へのアドバイス：{{ advice_msg }}</font></p>
    <p align="center"><img src="/static/images/graph_{{ post_detail.pk }}.svg" width="500" height="500"></p>
    <a href="{% url 'good' post_detail.pk %}" class="btn btn-primary" role="button" aria-pressed="true">いいね！</a>
    <a href="{% url 'read' post_detail.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">既読にする</a>
    {% endif %}
  </div>
</div>
{% endblock content %}


