{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">食習慣の可視化ツール</h1>
    <p class="lead">
        あなたの直近の食事情報をアップロードしてみましょう。<br>
        アップロード用のサンプルファイルは
        <a href="https://docs.google.com/spreadsheets/d/1yYPicj3AFPgM5NX59sosXVghxBM0KI9_P7K4JDWZDVI/edit?usp=sharing"
           target="_blank"　rel="noopener noreferrer">こちら</a>からダウンロードしてください。
    </p>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <p>投稿者：{{ user.username }}</p>
        {{form.as_p}}
        <input type="submit" value="アップロードする">
    </form>
    {% else %}
    <p>ログインしてください</p>
    <a href="{% url 'logout' %}">ログインはこちら</a>
    {% endif %}
    <a href="{% url 'list' %}">投稿一覧へ</a>
</div>
{% endblock %}